{% load static %}
<!DOCTYPE html>
<html>

<head>
	<link rel="apple-touch-icon" sizes="180x180" href={% static "img/apple-touch-icon.png" %}>
	<link rel="icon" type="image/png" sizes="32x32" href={% static "img/favicon-32x32.png" %}>
	<link rel="icon" type="image/png" sizes="16x16" href={% static "img/favicon-16x16.png" %}>
	<link rel="manifest" href={% static "img/site.webmanifest" %}>
	<link rel="mask-icon" href={% static "img/safari-pinned-tab.svg" %} color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Soami's Rasoi | About</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
    <link href={% static "css/all.min.css" %} rel="stylesheet" />
	<link href={% static "css/templatemo-style.css" %} rel="stylesheet" />
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body> 

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src={% static "img/front.jpeg" %}>
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src={% static "img/simple-house-logo.png" %} alt="Logo" class="tm-site-logo" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Soami's Rasoi</h1>
								<h6 class="tm-site-description">new restaurant in the town</h6>	
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="index" class="tm-nav-link">Home</a></li>
								<li class="tm-nav-li"><a href="about" class="tm-nav-link active">About</a></li>
								<li class="tm-nav-li"><a href="contact" class="tm-nav-link">Contact</a></li>
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">About Soami's Rasoi</h2>
				<p class="col-12 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, repellat maiores! Et modi quas dolores dicta, minima atque voluptatibus! Molestiae pariatur sit explicabo! Libero.</p>
			</header>

			<div class="tm-container-inner tm-persons">
				<div class="row">
					<article class="col-lg-6">
						<figure class="tm-person">
							<img src={% static "img/mr_nk(1).jpg" %} alt="Image" class="img-fluid tm-person-img" />
							<figcaption class="tm-person-description">
								<h4 class="tm-person-name">Narendra Kumar</h4>
								<p class="tm-person-title">Founder and CEO</p>
								<p class="tm-person-about">Lorem ipsum, dolor sit amet consectetur adipisicing.
								Duis ut feugiat odio, sit amet accumsan
								odio.</p>
								<div><br></div>
								<!-- <div>
									<a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
									<a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
									<a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
								</div> -->
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-6">
						<figure class="tm-person">
							<img src={% static "img/agam_prasad(1).jpg" %} alt="Image" class="img-fluid tm-person-img" />
							<figcaption class="tm-person-description">
								<h4 class="tm-person-name">Agam Prasad</h4>
								<p class="tm-person-title">Co-Founder and Manager</p>
								<p class="tm-person-about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, sed repudiandae magnam tempore quibusdam inventore natus sit! Fugit, consequatur nostrum.</p>
								<div>
									<a href="https://www.facebook.com/agam.singh.167" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
									<a href="https://www.instagram.com/agamprasad" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
									<!-- <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a> -->
								</div>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-6">
						<figure class="tm-person">
							<img src={% static "img/rahul_satsangi(1).jpg" %} alt="Image" class="img-fluid tm-person-img" />
							<figcaption class="tm-person-description">
								<h4 class="tm-person-name">Rahul Satsangi</h4>
								<p class="tm-person-title">Co-Founder and Manager</p>
								<p class="tm-person-about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo maxime libero voluptate, aut mollitia, ipsa sapiente, atque assumenda expedita quam qui? Eaque, maxime a. Adipisci.</p>
								<div>
									<a href="https://www.facebook.com/rahul.satsangi.92" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
									<a href="https://www.instagram.com/rahul_satsangi_" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
								</div>
							</figcaption>
						</figure>
					</article>
					<!-- <article class="col-lg-6">
						<figure class="tm-person">
							<img src={% static "img/about-04.jpg" %} alt="Image" class="img-fluid tm-person-img" />
							<figcaption class="tm-person-description">
								<h4 class="tm-person-name">Valentina Martin</h4>
								<p class="tm-person-title">Culinary Director</p>
								<p class="tm-person-about">Praesent non vulputate elit. Orci varius
								natoque penatibus et magnis montes, nascetur ridiculus mus.</p>
								<div>
									<a href="https://www.facebook.com/soamirasoi2020/" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
									{% comment %} <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a> {% endcomment %}
									<a href="https://www.instagram.com/soami_rasoi2020/" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
									{% comment %} <a href="https://youtube.com" class="tm-social-link"><i class="fab fa-youtube tm-social-icon"></i></a> {% endcomment %}
								</div>
							</figcaption>
						</figure>
					</article> -->
				</div>
			</div>
			<div class="tm-container-inner tm-featured-image">
				<div class="row">
					<div class="col-12">
						<div class="placeholder-2">
							<div class="parallax-window-2" data-parallax="scroll" data-image-src="img/about-05.jpg"></div>		
						</div>
					</div>
				</div>
			</div>
			<div class="tm-container-inner tm-features">
				<div class="row">
					<div class="col-lg-4">
						<div class="tm-feature">
							<i class="fas fa-4x fa-pepper-hot tm-feature-icon"></i>
							<p class="tm-feature-description">Donec sed orci fermentum, convallis lacus id, tempus elit. Sed eu neque accumsan, porttitor arcu a, interdum est. Donec in risus eu ante.</p>
							<a href="about" class="tm-btn tm-btn-primary">Read More</a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="tm-feature">
							<i class="fas fa-4x fa-seedling tm-feature-icon"></i>
							<p class="tm-feature-description">Maecenas pretium rutrum molestie. Duis dignissim egestas turpis sit. Nam sed suscipit odio. Morbi in dolor finibus, consequat nisl eget.</p>
							<a href="about" class="tm-btn tm-btn-success">Read More</a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="tm-feature">
							<i class="fas fa-4x fa-cocktail tm-feature-icon"></i>
							<p class="tm-feature-description">Morbi in dolor finibus, consequat nisl eget, pretium nunc. Maecenas pretium rutrum molestie. Duis dignissim egestas turpis sit.</p>
							<a href="about" class="tm-btn tm-btn-danger">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="tm-container-inner tm-history">
				<div class="row">
					<div class="col-12">
						<div class="tm-history-inner">
							<img src={% static "img/about.jpeg" %} alt="Image" class="img-fluid tm-history-img" />
							<div class="tm-history-text"> 
								<h4 class="tm-history-title">History of our restaurant</h4>
								<p class="tm-mb-p">Sed ligula risus, interdum aliquet imperdiet sit amet, auctor sit amet justo. Maecenas posuere lorem id augue interdum vehicula. Praesent sed leo eget libero ultricies congue.</p>
								<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia corrupti incidunt sit asperiores a, voluptate quibusdam rem ea ducimus explicabo! Thank you.</p>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</main>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2020 Soami's Rasoi
            
            | Design: <a rel="nofollow" href="https://www.instagram.com/v_anhad/">AnhadVuppuluri</a></p>
		</footer>
	</div>
	<script src={% static "js/jquery.min.js" %}></script>
	<script src={% static "js/parallax.min.js" %}></script>
</body>
</html>